<!doctype html>
<html lang="hu">
<head>
    <meta charset="utf-8">
    <title>Film Statisztika</title>
</head>
<body>
    <h1>Film Statisztika</h1>
    <form action="/stats" method="post">
        Megtekintés éve: <input type="number" name="ev"><br>
        <input type="submit" value="Lekérdezés">
    </form>
    {% if stat %}
    <h2>Megtekintett filmek {{ ev }} évben</h2>
    <table border="1">
        <tr>
            <th>Cím</th>
            <th>Gyártási év</th>
            <th>Megtekintés éve</th>
            <th>Értékelés</th>
        </tr>
        {% for film in stat %}
        <tr>
            <td>{{ film['Cím'] }}</td>
            <td>{{ film['Gyártási év'] }}</td>
            <td>{{ film['Megtekintés éve'] }}</td>
            <td>{{ film['Értékelés'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="{{ url_for('index') }}">Vissza a főoldalra</a>
</body>
</html>
